body{
    height: 100vh;
    width: 100%;
    background-color: #BDBDBD;
    /* background-color: #ffffff; */
    font-family: 'Quicksand', Arial, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

/*style for section */
section>div.row{
    /* border: 2px solid red; */
    height: 58rem;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

section>div.row>div.col-1{
    /* border: 2px solid blue; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form section starts here */
section>div.row>div.col-1>form{
    border: 2px solid #4f4d4e;
    border-radius: 10px 10px 10px 10px;
    width: 30em;
    height: 40rem;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* login form starts here */
form#login{
    display: none;
}

/* login form ends here */
div.text_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border:1px solid #4f4d4e; */
    height: 5rem;
}

div.text_wrapper>h1{
    font-weight: 100;
    font-size: 2.2rem;
    color: #272727;
}

p{
    color: #272727;
    margin-bottom: 10px;
}

input#email,input#email-signUp{
    width: 22.6rem;
    height: 2.5rem;
    border: 1px solid #4f4d4e;
    border-radius: 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}
input#input_password{
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px 0px 0px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}
input#input_signUp_password{
    width: 23rem;
    height: 2.5rem;
    border: none ;
    border-radius: 10px 10px 10px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

/* state */
input#email:focus,input#input_password:active,input#input_password:hover,  input#input_password:focus{
border: none;
outline: none ; 
}

section>div.row>div.col-1>form .input_wrapper{
    border: 1px solid #4f4d4e;
    width: 22.7rem;
    display: flex;
    align-items:center ;
    /* justify-content: space-between; */
    gap: 8px;
    border-radius: 10px 10px 10px 10px;

}

section>div.row>div.col-1>form .input_wrapper img{
    width: 18px;
    height: 28px;
}

section>div.row>div.col-2{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* password detector style */
.passwordIndicator{
    display: none;
    flex-flow: row nowrap;
    /* border: 1px solid red; */
    width: 22em;
    height: 1em;
    justify-content: space-evenly;
    align-items: baseline;
    /* align-content: center; */
}
.passwordIndicator>div.level{
    border: 1px solid #4f4d4e;
    width: 3em;
    height: 4px;
    /* background-color: red; */
}
.passwordIndicator>p{
    font-size: 13px;
}

div.btn>button{
    width: 22.7rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-weight: 100;
    font-size: 20px;
    color: #272727;
}

/* shop section starts here */

/* nav bar starts here */
section>div.nav{
    /* border: 1px solid red ; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* nav list */
#menu-toggle-btn,img#img-logo{
    /* This is hidden from desktop view only 
    which is used as nav icon for mobile
    */
    display: none;
}
section>div.nav>ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    /* border: 2px solid rgb(45, 129, 70) ; */
    width: 20em;
    height: 3em;
    align-items: center;
    justify-content: space-evenly;
}
/* nav logo */
section>div.nav>img.img-logo{
    height: 42px;
    width: 40px;
}
/* nav group icon */
section>div.nav>div.nav-icon-group{
    width: 10em;
    height: 3em;
    /* border: 2px solid rgb(45, 129, 70) ; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* nav group icon img*/
section>div.nav>div.nav-icon-group>img{
    /* height: 26px; */
    width: 35px;
}
/* nav bar ends here */

/* .row1 starts here */
    section.section-2{
        /* background-image: url("img/man-baller.png"); */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        /* border: 1px solid rgb(45, 129, 70); */
        display: flex;
        flex-flow: column nowrap;
    }
    /* .row1 ands here */
    /* container starts here */
    section#section-2>div.container{
        height: 80%;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #bd9102; */
    }
    
    section#section-2>div.container>div.row1{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        align-items: center;
    }
    section#section-2>div.container>div.row1>h1{
        font-size: 48px;
        font-weight: 400;
        /* color: #ffffff; */
        
    }
    section#section-2>div.container>div.row1>p{
        font-size: 20px;
        font-weight: 500;
    }
    section>div.icon-down{
        text-align: center;
        /* border: 1px solid #0263bd; */
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* container ends here */

/* section-3 starts here */
    section.section-3{
        height: 100%;
        /* border: 2px solid #0263bd; */
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 22px;
    }
    section.section-3>div.row2{
        /* border: 2px solid #d13e3e; */
        width: 80vw;
        height: 90vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items:center;
        align-content: space-between;

    }

section.section-3 div.products{
    border: 1px solid #272727;
    width: 20em;
    height: 25em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
section.section-3 div.products>img{
    height: 20em;
}
section.section-3 div.products p{
    font-size: 20px;
    font-weight: 500;
}

section.section-3 div.products>div.cart-text-wrapper{
    /* border: 1px solid #ffffff; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text{
    width: 65%;
    /* border: 1px solid #9e0f0f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart{
    border: 1px solid #272727;
    height: 3em;
    width: 3em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart>img{
    width: 1.6em;
}

section.section-3>button{
    height: 5vh;
    width: 7vw;
    border: 1px solid #272727;
    border-radius: 25px;
    background-color: transparent;
}

/* shop section ends here */



@media screen  and (max-width: 899px) {
    /* html{
        padding: 0px;
        margin: 0px;
        width: 94%;
        border: 2px solid #080408;
        overflow: hidden;
    } */
    body{
        height: auto;
        width: auto;
        /* background-color: #701d62; */
        border: 2px solid #701d62;
        /* font-family: Arial, Helvetica, sans-serif; */
        /* background-image: url("img/jay.png"); */
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        margin: 0px;
    }
    *{
        margin: 0px ;
        padding: 0px ;
    }
/*style for section-1 */
section#section-1{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section>div.row{
    /* border: 2px solid red; */
    height: 90vh;
    /* height: 100%; */
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #cacaca79;
}

section>div.row>div.col-1{
    /* border: 2px solid blue; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form section starts here */
section>div.row>div.col-1>form{
    /* border: 1px solid #4f4d4e; */
    border:none;
    border-radius: 10px 10px 10px 10px;
    width: 35rem;
    height: 30rem;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px !important;
}
div.text_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border:1px solid #4f4d4e; */
    height: 5rem;
    /* background-color: #d6d2d1; */
}

div.text_wrapper>h1{
    font-weight: 100;
    font-size: 1.9rem;
    color: #272727;
}
p{
    font-size: 0.9rem;
    color: #272727;
}

input#email,input#email-signUp{
    width: 14.4rem;
    height: 2rem;
    border: 1px solid #4f4d4e;
    border-radius: 10px;
    padding: 0px 8px;
    font-weight: 100;
    font-size: 13px;
}
input#email:active,input#email:hover,input#email:focus,input#input_password:active,   input#input_password:hover,   input#input_password:focus{
    border: none;
    outline: none; 
}
input#input_password{
    width: 12rem;
    height: 2rem;
    border: none;
    /* border-radius: 10px 0px 0px 10px ; */
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}
input#input_signUp_password{
    width: 23rem;
    height: 2rem;
    border: none;
    border-radius: 10px 10px 10px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

    /* password detector style */
    .passwordIndicator{
        display: none;
        flex-flow: row nowrap;
        /* border: 1px solid red; */
        width: 16em;
        height: 1em;
        justify-content: space-evenly;
        align-items: baseline;
        /* align-content: center; */
    }
    .passwordIndicator>div.level{
        border: 1px solid #ffffff;
        width:2em;
        height: 4px;
    }
    .passwordIndicator>p{
        color: #ffffff;
    }

section>div.row>div.col-1>form div.input_wrapper{
    border: 1px solid #4f4d4e;
    width: 15rem;
    height: 2.2rem;
    display: flex;
    align-items:center ;
    /* justify-content: space-between; */
    gap: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color:white ;

}

section>div.row>div.col-1>form .input_wrapper img{
    width: 16px;
    height: 24px;
    align-self: center;
}

section>div.row>div.col-2{
    /* border: 2px solid green; */
    width: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

div.btn{
    height: 3em;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
div.btn>button{
    width: 15rem;
    height: 2rem;
    border: 1px solid #272727;
    border-radius: 10px 10px 10px 10px;
    font-weight: 100;
    font-size: 17px;
    color: #272727;
}


/* shop section starts here */


/* .row1 starts here */
section.section-2{
    /* background-image: url("img/man-baller.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 98%; */
    height: 106vh;
    border: 1px solid rgb(45, 129, 70);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* align-content: space-around; */
    position: relative;
    padding: 0px;
}
/* .row1 ands here */

/* nav bar starts here */
section>div.nav{
    border: 1px solid red ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    /* padding-top: 5px; */
    top: 35px;
    width: 90%;
    height: 3.5em;
}
/* nav list */
#menu-toggle-btn{
    /* This is hidden from desktop view only 
    which is used as nav icon for mobile
    */
    display:block;
    border: 1px solid palevioletred;
    height: 50px;
    width: 50px;
    background-image: url("img/menu-toggle-1.png");
}

section>div.nav>ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    border: 2px solid rgb(45, 129, 70) ;
    width: 8em;
    height: 15em;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    background-color: #ddddddb0;
    position: absolute;
    top: 58px;
}
/* nav logo */
img#img-logo{
    display: block;
    height: 42px;
    width: 40px;
}
section>div.nav>img.img-logo{
    height: 42px;
    width: 40px;
    display: none;
}
/* nav group icon */
section>div.nav>div.nav-icon-group{
    width: 5em;
    height: 2em;
    border: 2px solid rgb(45, 129, 70) ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute;
    top: 0.1em;
    right: 0.1em; */
    
}

/* nav group icon img*/
section>div.nav>div.nav-icon-group>img{
    /* height: 26px; */
    width: 32px;
}
/* nav bar ends here */


    /* container starts here */
    section#section-2>div.container{
        height: 70%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bd9102;
    }
    
    section#section-2>div.container>div.row1{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        align-items: center;
    }
    section#section-2>div.container>div.row1>h1{
        font-size: 35px;
        font-weight: 400;
        /* color: #ffffff; */
        
    }
    section#section-2>div.container>div.row1>p{
        font-size: 20px;
        font-weight: 500;
    }
    section>div.icon-down{
        text-align: center;
        border: 1px solid #0263bd;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* container ends here */

/* section-3 starts here */
    section.section-3{
        height: auto;
        width: 98%;
        border: 2px solid #0263bd;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0px;
        padding: 0px;
    }
    section.section-3>div.row2{
        border: 2px solid #d13e3e;
        width: 85%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items:center;
        align-content: space-between;
        gap: 20px;
        padding: 10px 0px;

    }

section.section-3 div.products{
    border: 1px solid #002a52;
    width: 12em;
    height: 15em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
section.section-3 div.products>img{
    height: 8em;
    /* width: 10px; */
}
section.section-3 div.products p{
    font-size: 20px;
    font-weight: 500;
}

section.section-3 div.products>div.cart-text-wrapper{
    /* border: 1px solid #ffffff; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text{
    width: 65%;
    /* border: 1px solid #9e0f0f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart{
    border: 1px solid #272727;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart>img{
    width: 1.4em;
}

section.section-3>button{
    height: 35px;
    width: 110px;
    border: 1px solid #272727;
    border-radius: 20px;
    background-color: transparent;
}

/* shop section ends here */
}