body{
    height: 100vh;
    width: 100%;
    background-color: #BDBDBD;
    /* background-color: #ffffff; */
    font-family: 'Quicksand', Arial, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

/*style for section */
section>div.row{
    /* border: 2px solid red; */
    height: 58rem;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

section>div.row>div.col-1{
    /* border: 2px solid blue; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form section starts here */
section>div.row>div.col-1>form{
    border: 2px solid #4f4d4e;
    border-radius: 10px 10px 10px 10px;
    width: 30em;
    height: 40rem;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* login form starts here */
form#login{
    display: none;
}

/* login form ends here */
div.text_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border:1px solid #4f4d4e; */
    height: 5rem;
}

div.text_wrapper>h1{
    font-weight: 100;
    font-size: 2.2rem;
    color: #272727;
}

p{
    color: #272727;
    margin-bottom: 10px;
}

input#email,input#email-signUp{
    width: 22.6rem;
    height: 2.5rem;
    border: 1px solid #4f4d4e;
    border-radius: 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

input#input_password{
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px 0px 0px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

input#input_signUp_password{
    width: 23rem;
    height: 2.5rem;
    border: none ;
    border-radius: 10px 10px 10px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

/* state */
input#email:focus,input#input_password:active,input#input_password:hover,  input#input_password:focus{
border: none;
outline: none ; 
}

section>div.row>div.col-1>form .input_wrapper{
    border: 1px solid #4f4d4e;
    width: 22.7rem;
    display: flex;
    align-items:center ;
    /* justify-content: space-between; */
    gap: 8px;
    border-radius: 10px 10px 10px 10px;

}

section>div.row>div.col-1>form .input_wrapper img{
    width: 18px;
    height: 28px;
}

section>div.row>div.col-2{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* password detector style */
.passwordIndicator{
    display: none;
    flex-flow: row nowrap;
    /* border: 1px solid red; */
    width: 22em;
    height: 1em;
    justify-content: space-evenly;
    align-items: baseline;
    /* align-content: center; */
}
.passwordIndicator>div.level{
    border: 1px solid #4f4d4e;
    width: 3em;
    height: 4px;
    /* background-color: red; */
}
.passwordIndicator>p{
    font-size: 13px;
}

div.btn>button{
    width: 22.7rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px 10px 10px 10px;
    font-weight: 100;
    font-size: 20px;
    color: #272727;
}

/* shop section starts here */

/* nav bar starts here */
section>div.nav{
    /* border: 1px solid red ; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* nav list */
#menu-toggle-btn,img#img-logo{
    /* This is hidden from desktop view only 
    which is used as nav icon for mobile
    */
    display: none;
}
section>div.nav>ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    /* border: 2px solid rgb(45, 129, 70) ; */
    width: 20em;
    height: 3em;
    align-items: center;
    justify-content: space-evenly;
}
/* nav logo */
section>div.nav>img.img-logo{
    height: 42px;
    width: 40px;
}
/* nav group icon */
section>div.nav>div.nav-icon-group{
    width: 10em;
    height: 3em;
    /* border: 2px solid rgb(45, 129, 70) ; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

/* nav group icon img*/
section>div.nav>div.nav-icon-group>img{
    /* height: 26px; */
    /* position: relative; */
    width: 35px;
}

section>div.nav>div.nav-icon-group>.cartnumber{
    position: absolute;
    top: 0;
    right: 15px;
    /* z-index: ; */
    /* border: 1px solid red; */
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    display: none;
}
/* nav bar ends here */

/* .row1 starts here */
    section.section-2{
        /* background-image: url("img/man-baller.png"); */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /* height: 110vh; */
        /* border: 1px solid rgb(45, 129, 70); */
        display: flex;
        flex-flow: column nowrap;
        display: none;
    }
    /* .row1 ands here */
    /* container starts here */
    section#section-2>div.container{
        /* height: 100%; */
        width: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #bd9102; */
    }
    
    section#section-2>div.container>div.row1{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        /* turn this on*/
        height: 100vh;
        /* display: none; */
    }
    section#section-2>div.container>div.row1>h1{
        font-size: 48px;
        font-weight: 400;
        /* color: #ffffff; */
        
    }
    section#section-2>div.container>div.row1>p{
        font-size: 20px;
        font-weight: 500;
    }
    section>div.icon-down{
        text-align: center;
        /* border: 1px solid #0263bd; */
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* section#section-2>div.container>div.row2 starts here */
    section#section-2>div.container>div.row2{
        border: 1px solid rgb(45, 129, 70);
        /* height: 80%; */
        /* width: 90%; */
        display: flex;
        flex-flow: row wrap;
        display: none;

    }
    section#section-2>div.container>div.row2>.col-1{
        width: 50%;
        /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section#section-2>div.container>div.row2>.col-1>img{
        width: 60%;
    }
    
    section#section-2>div.container>div.row2>.col-2{
        width: 50%;
        /* height: 100%; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-content: center;
        background-color: #4f4d4e33;
        position: relative;
    }
    section#section-2>div.container>div.row2>.col-1>.btn-close-col-1{
        display: none;
    }
    section#section-2>div.container>div.row2>.col-2>.btn-close-col-2{
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }
    section#section-2>div.container>div.row2>.col-2>.btn-close-col-2>img{
        height: 28px;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper{
        /* border:2px solid #4f4d4e;
        color: #ffffff; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap:20Px;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper>.row1,.row2{
        border:2px solid #4f4d4e;
        color: #ffffff;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper>.row2>p{
        color: #ffffff;
        /* align-self: center; */
        /* justify-self: center; */
    }
    section#section-2>div.container>div.row2>.col-2>.description{
        border:2px solid #4f4d4e;
        width: 90%;
        align-self: center;
        font-size: 120%;
    }
    section#section-2>div.container>div.row2>.col-2>.description>p{
        color: #ffffff;
        
    }
    section#section-2>div.container>div.row2>.col-2>.btn-add-cart{
        width: 90%;
        align-self: center;
        border:2px solid #2c73b6;

    }
    section#section-2>div.container>div.row2>.col-2 button{
        width: 60%;
        height: 50px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        align-self: center;
    }
    /* section#section-2>div.container>div.row2 ends here */

    /* section#section-2>div.container>div.row3 starts here */
    /* My Cart & Checkout section */
    section#section-2>div.container>div.row3{
        border: 1px solid rgb(45, 129, 70);
        height: 90vh;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /* overflow: scroll; */
        /* display: none; */
    }
    section#section-2>div.container>div.row3>.col1{
        width: 45%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border:2px solid #002a52;
        position: relative;
        gap: 20px;
        overflow: scroll;
        /* display: none; */
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec{
        width: 90%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border:2px solid #002a52;
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec>.go-back-icon,.go-back-icon{
        width: 10%;
        height: 70%;
        border: 2px solid greenyellow;
        /* background-image: url("img/arrow_back.png"); */
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 10px;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec>.go-back-icon,.go-back-icon>img{
        /* width: 50%; */
        height: 80%;
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec>img{
        /* width: 50%; */
        height: 75%;
        position: absolute;
        right: 0;
        top: 5;
    }
    /* product list section starts here */
    .product-list{
        width: 98%;
        height: 80%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
        border: 2px solid #fc00d2;
        overflow: scroll;
    }
    /* product list section ends here */

    /* individual products starts here */
    section#section-2>div.container>div.row3>.col1 .single-product{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        border: 2px solid #490066;
        width: 90%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>img#single-product-view{
        width: 18%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border: 2px solid #665f00;
        width: 78%;
        height: 90%;
    }
    .product-name-wrapper-text{
        border: 2px solid #c7ba00;
        width: 90%;
        height: 50%;
        align-self: center;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize{
        display: flex;
        flex-flow: row nowrap;
        border: 2px solid #c7ba00;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        width: 90%;
        height: 50%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec{
        display: flex;
        flex-flow: row nowrap;
        border: 2px solid #00cc44;
        width: 40%;
        justify-content: flex-end;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec>img{
        width: 25%;
    }

        /* add and remove icon section */
        .single-product>.product-name-wrapper>.single-prize>.quantity-spec img{
            width: 30px;
        }

    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec>.number-product{
        width: 30px;
        /* height: ; */
        border: 2px solid darkorange;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    /* total-wrapper */
    section#section-2>div.container>div.row3>.col1>.total-wrapper{
        border: 2px solid #701d62;
        display: flex;
        justify-content: space-between;
        width: 90%;
        position: sticky;
        bottom: 0px;
        /* margin-top: auto; */
    }
    section#section-2>div.container>div.row3>.col1>.total-wrapper>.total-text{
        font-size: 20px;
    }
    section#section-2>div.container>div.row3>.col1>.total-wrapper>button{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        height: 50px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        border-radius: 0px;
        font-size: 100%;
        align-self: center;
    }
    /* individual products ends here */
    
    /*  section#section-2>div.container>div.row3>.col2 starts here */
    section#section-2>div.container>div.row3>.col2{
        width: 45%;
        /* height: 100%; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border:2px solid #002a52;
        position: relative;
        gap: 20px;
    }
    section#section-2>div.container>div.row3>.col2>.checkout-nav-sec{
        width: 90%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border:2px solid #002a52;
    }
    /* card wrapper  */
    section#section-2>div.container>div.row3>.col2>.card-amount-wrapper{
        border: 2px solid greenyellow;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        /* height: 15em; */
    }
    section#section-2>div.container>div.row3>.col2>.card-amount-wrapper>img{
        width: 10em;
    }
    section#section-2>div.container>div.row3>.col2>form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 60%;
        border: 1px solid rgb(45, 129, 70);
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number>.card-number-input-group{
        border: 1px solid rgb(255, 148, 7);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        /* width: 70%; */
    }
    
    section#section-2>div.container>div.row3>.col2>form>.card-number>.card-number-input-group>input{
        width: 100%;
        height: 3em;
    }
    
    section#section-2>div.container>div.row3>.col2>form>.card-number p{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number img{
        width: 40px;
    }

    section#section-2>div.container>div.row3>.col2>form>.card-number>.card-number-input-group>img{
        width: 50px;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number{
        display: flex;
        flex-flow: column nowrap;
        border: 1px solid rgb(45, 129, 70);
        justify-content: center;
        width: 80%;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number input{
        width: 99%;
        height: 3em;
    }
    /* card-expiry-date-group  */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date{
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid rgb(45, 129, 70);
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    /* card-expiry-date-group>input */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date>.card-expiry-date-group>input{
        width: 90%;
        height: 3em;
    }
    /* cvv input */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date>.card-CVV>input{
        width: 50%;
        height: 3em;
    }
    div.save-card{
        width: 80%;
        height: 3em;
        border:2px solid #002a52;
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: center; */
        align-items: center;
        gap: 10px;
        
    }
    div.save-card>input{
        width: 30px;
        height: 20px;
        
    }
    /* div.save-card>p{
        font-size: 20px;
    } */
    /* pay secure button div */
    section#section-2>div.container>div.row3>.col2>form>.btn-sec{
        border:2px solid #2c73b6;
        height: 20%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* pay secure button */
    section#section-2>div.container>div.row3>.col2>form>.btn-sec>button{
        width: 50%;
        height: 50px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        border-radius: 25px;
    }
    /* section#section-2>div.container>div.row3 ends here */

    /* container ends here */

/* section-3 starts here */
    section.section-3{
        /* height: 100%; */
        height: auto;
        /* border: 2px solid #0263bd; */
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 22px;

    }
    section.section-3>div.row2{
        /* border: 2px solid #d13e3e; */
        /* width: 80vw; */
        width: 60%;
        /* height: 100vh; */
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items:center;
        align-content: space-evenly;
        display: none;
    }

section.section-3 div.products{
    border: 1px solid #272727;
    width: 20em;
    height: 25em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
section.section-3 div.products>img{
    height: 20em;
}
section.section-3 div.products p{
    font-size: 20px;
    font-weight: 500;
}

section.section-3 div.products>div.cart-text-wrapper{
    /* border: 1px solid #ffffff; */
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text{
    width: 65%;
    /* border: 1px solid #9e0f0f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart{
    border: 1px solid #272727;
    height: 3em;
    width: 3em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart>img{
    width: 1.6em;
}

section.section-3>button{
    height: 5vh;
    width: 7vw;
    border: 1px solid #272727;
    border-radius: 25px;
    background-color: transparent;
    margin: 15px 0px;
}

/* shop section ends here */



@media screen  and (max-width: 899px) {

body{
    height: auto;
    width: auto;
    /* background-color: #701d62; */
    border: 2px solid #701d62;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-image: url("img/jay.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

*{
    margin: 0px ;
    padding: 0px ;
}
/*style for section-1 */
section#section-1{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section>div.row{
    /* border: 2px solid red; */
    height: 90vh;
    /* height: 100%; */
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #cacaca79;
}

section>div.row>div.col-1{
    /* border: 2px solid blue; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form section starts here */
section>div.row>div.col-1>form{
    border: 1px solid #4f4d4e;
    border:none;
    border-radius: 10px 10px 10px 10px;
    width: 35rem;
    height: 30rem;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px !important;
}
div.text_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border:1px solid #4f4d4e; */
    height: 5rem;
    /* background-color: #d6d2d1; */
}

div.text_wrapper>h1{
    font-weight: 100;
    font-size: 1.9rem;
    color: #272727;
}

p{
    font-size: 0.9rem;
    color: #272727;
}

input#email,input#email-signUp{
    width: 14.4rem;
    height: 2rem;
    border: 1px solid #4f4d4e;
    border-radius: 10px;
    padding: 0px 8px;
    font-weight: 100;
    font-size: 13px;
}
input#email:active,input#email:hover,input#email:focus,input#input_password:active,   input#input_password:hover,   input#input_password:focus{
    border: none;
    outline: none; 
}
input#input_password{
    width: 12rem;
    height: 2rem;
    border: none;
    /* border-radius: 10px 0px 0px 10px ; */
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}
input#input_signUp_password{
    width: 23rem;
    height: 2rem;
    border: none;
    border-radius: 10px 10px 10px 10px ;
    padding: 0px 5px;
    font-weight: 100;
    font-size: 17px;
}

/* password detector style */
.passwordIndicator{
    display: none;
    flex-flow: row nowrap;
    /* border: 1px solid red; */
    width: 16em;
    height: 1em;
    justify-content: space-evenly;
    align-items: baseline;
    /* align-content: center; */
}
.passwordIndicator>div.level{
    border: 1px solid #ffffff;
    width:2em;
    height: 4px;
}
.passwordIndicator>p{
    color: #ffffff;
}

section>div.row>div.col-1>form div.input_wrapper{
    border: 1px solid #4f4d4e;
    width: 15rem;
    height: 2.2rem;
    display: flex;
    align-items:center ;
    /* justify-content: space-between; */
    gap: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color:white ;

}

section>div.row>div.col-1>form .input_wrapper img{
    width: 16px;
    height: 24px;
    align-self: center;
}

section>div.row>div.col-2{
    /* border: 2px solid green; */
    width: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

div.btn{
    height: 3em;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
div.btn>button{
    width: 15rem;
    height: 2rem;
    border: 1px solid #272727;
    border-radius: 10px 10px 10px 10px;
    font-weight: 100;
    font-size: 17px;
    color: #272727;
}


/* shop section starts here */


/* .row1 starts here */
section.section-2{
    /* background-image: url("img/man-baller.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 98%; */
    /* height: 106vh; */
    height: auto;
    border: 1px solid rgb(45, 129, 70);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* align-content: space-around; */
    position: relative;
    padding: 0px;
    display: none;
}
/* .row1 ends here */

/* nav bar starts here */
section>div.nav{
    border: 1px solid red ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    /* padding-top: 5px; */
    top: 0px;
    width: 90%;
    height: 3.5em;
}
/* nav list */
#menu-toggle-btn{
    /* This is hidden from desktop view only 
    which is used as nav icon for mobile
    */
    display:block;
    border: 1px solid palevioletred;
    height: 50px;
    width: 50px;
    background-image: url("img/menu-toggle-1.png");
}

section>div.nav>ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    border: 2px solid rgb(45, 129, 70) ;
    width: 60%;
    height: 19em;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    background-color: #ffffffc4;
    position: absolute;
    top: 50px;
    font-size: 21px;
}
/* nav logo */
img#img-logo{
    display: block;
    height: 42px;
    width: 40px;
}
section>div.nav>img.img-logo{
    height: 42px;
    width: 40px;
    display: none;
}
/* nav group icon */
section>div.nav>div.nav-icon-group{
    width: 5em;
    height: 2em;
    border: 2px solid rgb(45, 129, 70) ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* 
    top: 0.1em;
    right: 0.1em; */
    position: relative;
}

/* nav group icon img*/
section>div.nav>div.nav-icon-group>img{
    /* height: 26px; */
    width: 29px;
}

section>div.nav>div.nav-icon-group>.cartnumber{
    position: absolute;
    bottom: 25px;
    right: 0px;
    /* z-index: ; */
    /* border: 1px solid red; */
    background-color: red;
    color: white;
    height: 13px;
    width: 13px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    display: none;
}
/* nav bar ends here */


/* container starts here */
section#section-2>div.container{
    /* height: 100%; */
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bd9102;
}
    
section#section-2>div.container>div.row1{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    /* display: none; */
}
section#section-2>div.container>div.row1>h1{
    font-size: 35px;
    font-weight: 400;
    /* color: #ffffff; */
    
}
section#section-2>div.container>div.row1>p{
    font-size: 20px;
    font-weight: 500;
}
section>div.icon-down{
    text-align: center;
    border: 1px solid #0263bd;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container ends here */


    /* new sections starts here */

    /* section#section-2>div.container>div.row2 starts here */
    section#section-2>div.container>div.row2{
        border: 1px solid rgb(45, 129, 70);
        height: 98%;
        /* width: 90%; */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        display: none;
    }
    section#section-2>div.container>div.row2>.col-1{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    section#section-2>div.container>div.row2>.col-1>img{
        width: 277px;
    }
    section#section-2>div.container>div.row2>.col-1>.btn-close-col-1{
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        
    }
    section#section-2>div.container>div.row2>.col-1>.btn-close-col-1>img{
        height: 28px;
    }
    
    section#section-2>div.container>div.row2>.col-2{
        width: 100%;
        height: 60%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        background-color: #4f4d4e33;
        position: relative;
    }
    section#section-2>div.container>div.row2>.col-2>.btn-close-col-2{
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
    }
    section#section-2>div.container>div.row2>.col-2>.btn-close-col-2>img{
        height: 28px;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper{
        /* border:2px solid #4f4d4e;
        color: #ffffff; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap:10Px;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper>.row1,.row2{
        border:2px solid #4f4d4e;
        color: #ffffff;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
    }
    section#section-2>div.container>div.row2>.col-2>.product-name-wrapper>.row2>p{
        color: #ffffff;
        /* align-self: center; */
        /* justify-self: center; */
    }
    section#section-2>div.container>div.row2>.col-2>.description{
        border:2px solid #4f4d4e;
        width: 90%;
        align-self: center;
        font-size: 120%;
    }
    section#section-2>div.container>div.row2>.col-2>.description>p{
        color: #ffffff;
        
    }
    section#section-2>div.container>div.row2>.col-2>.btn-add-cart{
        width: 90%;
        align-self: center;
        border:2px solid #2c73b6;

    }
    section#section-2>div.container>div.row2>.col-2 button{
        width: 60%;
        height: 50px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        align-self: center;
    }
    /* section#section-2>div.container>div.row2 ends here */

    /* section#section-2>div.container>div.row3 starts here */
    section#section-2>div.container>div.row3{
        border: 1px solid rgb(45, 129, 70);
        height: 80vh;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /* overflow: scroll; */
        display: none;
    }
    section#section-2>div.container>div.row3>.col1{
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border:2px solid #002a52;
        position: relative;
        gap: 20px;
        overflow: scroll;
        /* display: none; */
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec{
        width: 90%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border:2px solid #002a52;
    }

    section#section-2>div.container>div.row3>.col1>.cart-nav-sec>.go-back-icon,.go-back-icon{
        width: 15%;
        height: 70%;
        border: 2px solid greenyellow;
        /* background-image: url("img/arrow_back.png"); */
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 10px;
        top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section#section-2>div.container>div.row3>.col1>.cart-nav-sec>.go-back-icon,.go-back-icon>img{
        /* width: 50%; */
        height: 80%;
    }

    /* individual products starts here */
    section#section-2>div.container>div.row3>.col1 .single-product{
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        border: 2px solid #490066;
        width: 90%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>img#single-product-view{
        width: 25%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border: 2px solid #665f00;
        width: 67%;
        height: 80%;
    }
    .product-name-wrapper-text{
        border: 2px solid #c7ba00;
        width: 90%;
        height: 50%;
        align-self: center;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize{
        display: flex;
        flex-flow: row nowrap;
        border: 2px solid #c7ba00;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        width: 90%;
        height: 90%;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec{
        display: flex;
        flex-flow: row nowrap;
        border: 2px solid #00cc44;
    }

    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec>img{
        width: 33%;
    }

    /* add and remove icon section */
    .single-product>.product-name-wrapper>.single-prize>.quantity-spec img{
        width: 20px;
    }
    section#section-2>div.container>div.row3>.col1 .single-product>.product-name-wrapper>.single-prize>.quantity-spec>.number-product{
        width: 20px;
        /* height: ; */
        border: 2px solid darkorange;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
    }
    /* total-wrapper */
    section#section-2>div.container>div.row3>.col1>.total-wrapper{
        border: 2px solid #701d62;
        display: flex;
        justify-content: space-between;
        width: 95%;
        /* position: absolute;
        bottom: 0px; */
        /* margin-top: auto; */
    }
    section#section-2>div.container>div.row3>.col1>.total-wrapper>.total-text{
        font-size: 19px;
    }
    section#section-2>div.container>div.row3>.col1>.total-wrapper>button{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        height: 40px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        border-radius: 0px;
        font-size: 90%;
        align-self: center;
    }
    section#section-2>div.container>div.row3>.col1>.total-wrapper>button>img{
        width: 20px;
    }
    /* individual products ends here */
    
    /*  section#section-2>div.container>div.row3>.col2 starts here */
    section#section-2>div.container>div.row3>.col2{
        width: 100%;
        /* height: 100%; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border:2px solid #002a52;
        position: relative;
        gap: 20px;
        /* display: none; */
    }
    section#section-2>div.container>div.row3>.col2>.checkout-nav-sec{
        width: 90%;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border:2px solid #002a52;
    }
    /* card wrapper  */
    section#section-2>div.container>div.row3>.col2>.card-amount-wrapper{
        border: 2px solid greenyellow;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        /* height: 15em; */
    }
    section#section-2>div.container>div.row3>.col2>.card-amount-wrapper>img{
        width: 10em;
    }
    section#section-2>div.container>div.row3>.col2>p{
        /* width: 90%; */
        font-size: 20px;
    }
    section#section-2>div.container>div.row3>.col2>form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 50%;
        border: 1px solid rgb(45, 129, 70);
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number>.card-number-input-group{
        border: 1px solid rgb(255, 148, 7);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        /* width: 70%; */
    }
    
    section#section-2>div.container>div.row3>.col2>form>.card-number>.card-number-input-group>input{
        width: 100%;
        height: 3em;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number p{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number img{
        width: 40px;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number{
        display: flex;
        flex-flow: column nowrap;
        border: 1px solid rgb(45, 129, 70);
        justify-content: center;
        width: 95%;
    }
    section#section-2>div.container>div.row3>.col2>form>.card-number input{
        width: 99%;
        height: 3em;
    }
    /* card-expiry-date-group  */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date{
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid rgb(45, 129, 70);
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    /* card-expiry-date-group>input */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date>.card-expiry-date-group>input{
        width: 90%;
        height: 3em;
    }
    /* cvv input */
    section#section-2>div.container>div.row3>.col2>form>.card-expiry-date>.card-CVV>input{
        width: 50%;
        height: 3em;
    }
    div.save-card{
        width: 80%;
        height: 3em;
        border:2px solid #002a52;
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: center; */
        align-items: center;
        gap: 10px;
        
    }
    div.save-card>input{
        width: 30px;
        height: 20px;
        
    }
    /* div.save-card>p{
        font-size: 20px;
    } */
    /* pay secure button div */
    section#section-2>div.container>div.row3>.col2>form>.btn-sec{
        border:2px solid #2c73b6;
        height: 20%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* pay secure button */
    section#section-2>div.container>div.row3>.col2>form>.btn-sec>button{
        width: 70%;
        height: 50px;
        background-color: #4f4d4e;
        color: #ffffff;
        border: none;
        border-radius: 25px;
    }
    /* section#section-2>div.container>div.row3 ends here */

    /* container ends here */
    
    /* new sections ends here */



/* section-3 starts here */
    section.section-3{
        height: auto;
        width: 98%;
        border: 2px solid #0263bd;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    section.section-3>div.row2{
        border: 2px solid #d13e3e;
        width: 85%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items:center;
        align-content: space-between;
        gap: 20px;
        padding: 10px 0px;

    }

section.section-3 div.products{
    border: 1px solid #002a52;
    width: 12em;
    height: 15em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

section.section-3 div.products>img{
    height: 8em;
    /* width: 10px; */
}

section.section-3 div.products h2{
    font-size: 20px;
    font-weight: 400;
    width: 90px;
}

section.section-3 div.products p{
    font-size: 18px;
    font-weight: 500;
}

section.section-3 div.products>div.cart-text-wrapper{
    /* border: 1px solid #ffffff; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

section.section-3 div.products>div.cart-text-wrapper>div.row-text{
    width: 80%;
    /* border: 1px solid #9e0f0f; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart{
    border: 1px solid #272727;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section-3 div.products>div.cart-text-wrapper>div.row-text>div.icon-cart>img{
    width: 1.4em;
}



/* shop section ends here */
}